<div class="headerBox">
    <div class="header">
        <div class="hdtopBg">
            <div class="hdtop">
                <ul class="nav">
                    <li><a href="index.html" class="a1">旅遊大調查</a></li>
                    <li><a href="activity.html" class="a2">活動公告</a></li>
                    <li><a href="report.html" class="a3">調查報告</a></li>
                    <li><a href="traveltips.html" class="a4">旅行攻略</a></li>
                    <li><a href="expert.html" class="a5">達人去旅行</a></li>
                    <li><a href="recommend.html" class="a6">旅行指標地</a></li>
                </ul>
                <a class="fb" href=""></a>
            </div>
        </div>
        <div class="hdbottomBg">
            <div class="hdbottom">
                <a href="index.html" class="go"></a>
            </div>
        </div>
    </div>
</div>