@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_layout.scss */
html, body {
  height: 100%;
  background-image: url("../img/footerbg.png");
  background-repeat: repeat;
}

/* line 6, ../scss/_layout.scss */
.wrapper {
  width: 100%;
  font-family: "微軟正黑體";
}
/* line 10, ../scss/_layout.scss */
.wrapper .containerBox .container {
  width: 100%;
}
/* line 12, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox {
  width: 100%;
}

/* line 2, ../scss/_hd.scss */
.headerBox {
  width: 100%;
  height: 265px;
  background-image: url("../img/headerbg.png");
  background-repeat: no-repeat;
  background-position: 42% -5px;
  min-width: 960px;
  background-color: #fffff7;
}
/* line 10, ../scss/_hd.scss */
.headerBox .header {
  min-width: 960px;
  margin: 0 auto;
}
/* line 13, ../scss/_hd.scss */
.headerBox .header .menu {
  width: 694px;
  height: 51px;
  margin: 0 auto;
  background-image: url("../img/menubg.png");
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 20, ../scss/_hd.scss */
.headerBox .header .menu a {
  display: inline-block;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 39px;
  margin: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/menu01.png");
  background-repeat: no-repeat;
  background-position: 0 7px;
}
/* line 33, ../scss/_hd.scss */
.headerBox .header .menu a:hover i {
  color: #ffd200;
}
/* line 35, ../scss/_hd.scss */
.headerBox .header .menu a span {
  display: inline-block;
  vertical-align: top;
  padding-top: 17px;
  padding-left: 5px;
  min-width: 72px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #010101;
  position: relative;
  top: 0;
}
/* line 46, ../scss/_hd.scss */
.headerBox .header .menu a i {
  color: #ffffff;
  padding-top: 18px;
  padding-left: 8px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
/* line 56, ../scss/_hd.scss */
.headerBox .header .menu .a2 {
  padding-left: 30px;
  background-image: url("../img/menu02.png");
  background-position: 0 2px;
}
/* line 61, ../scss/_hd.scss */
.headerBox .header .menu .a3 {
  padding-left: 32px;
  background-image: url("../img/menu03.png");
  background-position: 0 4px;
}
/* line 66, ../scss/_hd.scss */
.headerBox .header .menu .a4 {
  padding-left: 32px;
  background-image: url("../img/menu04.png");
  background-position: 0 1px;
}
/* line 70, ../scss/_hd.scss */
.headerBox .header .menu .a4 span {
  min-width: 105px;
}
/* line 72, ../scss/_hd.scss */
.headerBox .header .menu .a5 {
  padding-left: 33px;
  background-image: url("../img/menu05.png");
  background-position: 0 2px;
}
/* line 78, ../scss/_hd.scss */
.headerBox .header .logo {
  width: 302px;
  height: 191px;
  margin: 0 auto;
  padding: 14px 10px 0 0;
  position: relative;
  top: 0;
  z-index: 9999;
}
/* line 86, ../scss/_hd.scss */
.headerBox .header .logo a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
}

/* line 100, ../scss/_hd.scss */
.page_index .headerBox {
  min-height: 327px;
  background-image: url("../img/index_headerbg.png");
}
/* line 104, ../scss/_hd.scss */
.page_index .headerBox .header .logo {
  width: 453px;
  height: 363px;
  padding: 9px 0 0 20px;
}
/* line 108, ../scss/_hd.scss */
.page_index .headerBox .header .logo a {
  width: 100%;
  height: 100%;
  background-image: url("../img/index_logo.png");
}

/* line 121, ../scss/_hd.scss */
.page_chef .headerBox {
  min-height: 302px;
}
/* line 124, ../scss/_hd.scss */
.page_chef .headerBox .header .logo {
  width: 302px;
  height: 240px;
  padding: 14px 10px 0 0;
}
/* line 128, ../scss/_hd.scss */
.page_chef .headerBox .header .logo a {
  width: 100%;
  height: 100%;
  background-image: url("../img/chef_logo.png");
}

/* line 140, ../scss/_hd.scss */
.page_breezemarket .headerBox {
  min-height: 302px;
}
/* line 143, ../scss/_hd.scss */
.page_breezemarket .headerBox .header .logo {
  width: 353px;
  height: 225px;
  padding: 14px 10px 0 0;
}
/* line 147, ../scss/_hd.scss */
.page_breezemarket .headerBox .header .logo a {
  width: 100%;
  height: 100%;
  background-image: url("../img/breezemarket_logo.png");
}

/* line 159, ../scss/_hd.scss */
.page_restaurant .headerBox {
  min-height: 302px;
}
/* line 162, ../scss/_hd.scss */
.page_restaurant .headerBox .header .logo {
  width: 302px;
  height: 225px;
  padding: 14px 10px 0 0;
}
/* line 166, ../scss/_hd.scss */
.page_restaurant .headerBox .header .logo a {
  width: 100%;
  height: 100%;
  background-image: url("../img/restaurant_logo.png");
}

/* line 181, ../scss/_hd.scss */
.page_newslist .headerBox .header .menu .a1 i {
  color: #ffd200;
}

/* line 185, ../scss/_hd.scss */
.page_breezemarket .headerBox .header .menu .a2 i {
  color: #ffd200;
}

/* line 189, ../scss/_hd.scss */
.page_chef .headerBox .header .menu .a3 i {
  color: #ffd200;
}

/* line 193, ../scss/_hd.scss */
.page_restaurant .headerBox .header .menu .a4 i {
  color: #ffd200;
}

/* line 197, ../scss/_hd.scss */
.page_fodder .headerBox .header .menu .a5 i {
  color: #ffd200;
}

/* line 1, ../scss/_ft.scss */
.footerBox {
  width: 100%;
  min-width: 960px;
  background-image: url("../img/footerbg.png");
  background-repeat: repeat;
}
/* line 6, ../scss/_ft.scss */
.footerBox .footer {
  width: 960px;
  margin: 0 auto;
}
/* line 10, ../scss/_ft.scss */
.footerBox .Top {
  padding-top: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 13, ../scss/_ft.scss */
.footerBox .Top .mText {
  width: 430px;
  float: left;
}
/* line 16, ../scss/_ft.scss */
.footerBox .Top .mText p {
  color: #161414;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 17px;
}
/* line 21, ../scss/_ft.scss */
.footerBox .Top .mText p span {
  display: inline-block;
  width: 340px;
  color: #0b0603;
  font-size: 13px;
  font-weight: normal;
  padding-left: 15px;
  vertical-align: top;
  line-height: 1.6;
  margin-top: -4px;
}
/* line 34, ../scss/_ft.scss */
.footerBox .Top .ftLogo {
  width: 520px;
  float: left;
  text-align: right;
}
/* line 38, ../scss/_ft.scss */
.footerBox .Top .ftLogo a {
  display: inline-block;
}
/* line 40, ../scss/_ft.scss */
.footerBox .Top .ftLogo a img {
  vertical-align: middle;
  margin-bottom: 12px;
}
/* line 45, ../scss/_ft.scss */
.footerBox .Top .ftLogo a + a + a + a img {
  margin-right: 10px;
}
/* line 46, ../scss/_ft.scss */
.footerBox .Top .ftLogo a + a + a + a + a + a + a + a img {
  margin-right: 0;
  margin-left: 5px;
}
/* line 47, ../scss/_ft.scss */
.footerBox .Top .ftLogo a + a + a + a + a + a + a + a + a img {
  margin-right: 0;
}
/* line 49, ../scss/_ft.scss */
.footerBox .Top:after {
  content: "";
  display: table;
  clear: both;
}
/* line 55, ../scss/_ft.scss */
.footerBox .Bot {
  height: 85px;
  text-align: center;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 60, ../scss/_ft.scss */
.footerBox .Bot > span {
  display: inline-block;
  padding-right: 45px;
}
/* line 63, ../scss/_ft.scss */
.footerBox .Bot > span p {
  color: #161414;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 17px;
}
/* line 68, ../scss/_ft.scss */
.footerBox .Bot > span p span {
  display: inline-block;
  color: #0b0603;
  font-size: 13px;
  font-weight: normal;
  padding-left: 15px;
  vertical-align: top;
}
/* line 78, ../scss/_ft.scss */
.footerBox .Bot > span + span {
  padding-right: 0;
}
/* line 81, ../scss/_ft.scss */
.footerBox .Bot > p {
  color: #2e2825;
  font-size: 13px;
}
/* line 84, ../scss/_ft.scss */
.footerBox .Bot > p i {
  margin-left: 15px;
}

/* line 2, ../scss/_index.scss */
.page_index .contBox {
  width: 100%;
  min-width: 960px;
  background-image: url("../img/contbg.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #fffff7;
}
/* line 9, ../scss/_index.scss */
.page_index .contBox .cont {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 0;
  padding-bottom: 390px;
}
/* line 15, ../scss/_index.scss */
.page_index .contBox .cont .newslist {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 210px;
  margin: -85px 0 0 35px;
}
/* line 22, ../scss/_index.scss */
.page_index .contBox .cont .newslist .mTitle {
  height: 43px;
  padding: 25px 0 0 65px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #5a3e2c;
  font-size: 18px;
  font-weight: bold;
  background-image: url("../img/index_newslistTitle.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 33, ../scss/_index.scss */
.page_index .contBox .cont .newslist ul {
  width: 200px;
  margin: 0 auto;
  margin-top: 15px;
}
/* line 37, ../scss/_index.scss */
.page_index .contBox .cont .newslist ul li {
  width: 100%;
  border-bottom: 1px dotted #e0b3ae;
  padding-bottom: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 8px;
}
/* line 43, ../scss/_index.scss */
.page_index .contBox .cont .newslist ul li a {
  display: block;
  width: 100%;
  border-left: 6px solid #ce3a4a;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
/* line 50, ../scss/_index.scss */
.page_index .contBox .cont .newslist ul li a p {
  font-size: 14px;
  color: #53260d;
  line-height: 1.6;
  white-space: nowrap;
  width: 190px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 63, ../scss/_index.scss */
.page_index .contBox .cont .chef {
  width: 515px;
  height: 392px;
  position: absolute;
  bottom: 0;
  left: 265px;
  background-image: url("../img/chef.png");
  background-repeat: no-repeat;
}

/* line 2, ../scss/_newslist.scss */
.page_newslist .contBox {
  width: 100%;
  min-width: 960px;
  background-image: url("../img/contbg.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #fffff7;
}
/* line 9, ../scss/_newslist.scss */
.page_newslist .contBox .cont {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 0;
}
/* line 14, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox {
  width: 855px;
  margin: 0 auto;
  padding-bottom: 290px;
}
/* line 18, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newsTitle {
  padding: 20px 0 0 33px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: -13px;
}
/* line 23, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist {
  margin-left: 20px;
}
/* line 25, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li {
  padding: 24px;
  position: relative;
  top: 0;
}
/* line 29, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li .licont {
  position: relative;
  top: 0;
  z-index: 10;
}
/* line 33, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li .licont > span {
  display: inline-block;
  vertical-align: top;
}
/* line 37, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li .licont .mImg {
  width: 215px;
}
/* line 46, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li .licont .mImg img {
  width: 100%;
}
/* line 48, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li .licont .mText {
  width: 560px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 52, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li .licont .mText .title {
  color: #ce3a4a;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
}
/* line 59, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li .licont .mText .date {
  color: #ce3a4a;
  font-family: "Arial";
  font-size: 14px;
  line-height: 1.6;
}
/* line 65, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li .licont .mText .text {
  display: block;
  width: 540px;
  color: #0c0405;
  font-size: 13px;
  line-height: 1.4;
  padding: 5px 0 10px 0;
  letter-spacing: 1px;
}
/* line 74, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li .licont .mText .newsBtn {
  display: block;
  width: 57px;
  padding: 3px 3px 4px 3px;
  background-color: #afc828;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}
/* line 85, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .newslist li .yellowbg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=29);
  opacity: 0.29;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=29);
}
/* line 98, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .pageLink {
  padding-top: 40px;
}
/* line 101, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .pageLink ul li {
  display: inline-block;
  margin-left: -3px;
  padding: 4px 7px 3px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Arial";
}
/* line 108, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .pageLink ul li:hover {
  background-color: #bacb5a;
}
/* line 110, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .pageLink ul li:hover a {
  color: #fff;
}
/* line 112, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .pageLink ul li a {
  color: #000;
  text-decoration: none;
}
/* line 117, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .pageLink ul .fd {
  margin-right: 5px;
  font-size: 14px;
  font-family: "微軟正黑體";
}
/* line 118, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .pageLink ul .bk {
  margin-left: 5px;
  font-size: 14px;
  font-family: "微軟正黑體";
}
/* line 119, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .pageLink ul .liOn {
  background-color: #bacb5a;
}
/* line 121, ../scss/_newslist.scss */
.page_newslist .contBox .cont .newslistBox .pageLink ul .liOn a {
  color: #fff;
}

/* line 2, ../scss/_news.scss */
.page_newslist .contBox {
  width: 100%;
  min-width: 960px;
  background-image: url("../img/contbg.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #fffff7;
}
/* line 9, ../scss/_news.scss */
.page_newslist .contBox .cont {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 0;
}
/* line 14, ../scss/_news.scss */
.page_newslist .contBox .cont .newsBox {
  width: 839px;
  margin: 0 auto;
  padding-bottom: 340px;
}
/* line 18, ../scss/_news.scss */
.page_newslist .contBox .cont .newsBox .newsTitle {
  padding: 20px 0 0 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 22, ../scss/_news.scss */
.page_newslist .contBox .cont .newsBox .news_detailBox {
  width: 100%;
  background-image: url("../img/newsContBg.png");
  background-repeat: repeat-y;
  background-position: 0 55px;
  padding: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px 0 0 25px;
  border-top: 1px solid #83632c;
  border-bottom: 1px solid #83632c;
}
/* line 32, ../scss/_news.scss */
.page_newslist .contBox .cont .newsBox .news_detailBox .detailCont {
  background-image: url("../img/newsgraybg.png");
  padding: 23px 15px 60px 15px;
  position: relative;
  top: 0;
}
/* line 37, ../scss/_news.scss */
.page_newslist .contBox .cont .newsBox .news_detailBox .detailCont .mTitle {
  color: #ce3a4a;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px dashed #868584;
  padding-bottom: 8px;
}
/* line 45, ../scss/_news.scss */
.page_newslist .contBox .cont .newsBox .news_detailBox .detailCont .date {
  text-align: right;
  color: #ce3a4a;
  font-size: 16px;
  font-family: "Arial";
  line-height: 1.6;
  padding-bottom: 15px;
}
/* line 54, ../scss/_news.scss */
.page_newslist .contBox .cont .newsBox .news_detailBox .detailCont .mText .newImg {
  text-align: center;
  margin-bottom: 30px;
}
/* line 58, ../scss/_news.scss */
.page_newslist .contBox .cont .newsBox .news_detailBox .detailCont .mText .text {
  width: 710px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 13px;
}
/* line 65, ../scss/_news.scss */
.page_newslist .contBox .cont .newsBox .news_detailBox .detailCont .backBtn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
/* line 69, ../scss/_news.scss */
.page_newslist .contBox .cont .newsBox .news_detailBox .detailCont .backBtn a {
  display: block;
  width: 85px;
  height: 30px;
  background-color: #afc828;
  color: #fffffe;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

/* line 2, ../scss/_chef.scss */
.page_chef .contBox {
  width: 100%;
  min-width: 960px;
  background-image: url("../img/contbg.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #fffff7;
}
/* line 9, ../scss/_chef.scss */
.page_chef .contBox .cont {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 0;
}
/* line 14, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox {
  width: 887px;
  margin: 0 auto;
  padding-bottom: 330px;
}
/* line 18, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef {
  width: 100%;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
/* line 22, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef .chefCont {
  height: 100%;
  background-image: url("../img/dotted.png");
  background-repeat: repeat-x;
  background-position: 0 100%;
  padding-top: 40px;
}
/* line 28, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef .chefCont .mTitle {
  font-size: 18px;
  font-weight: bold;
  color: #b93d28;
  text-align: left;
  margin-left: -18px;
}
/* line 34, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef .chefCont .mTitle span {
  font-size: 28px;
}
/* line 36, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef .chefCont .mImg {
  display: block;
  padding: 23px 15px 15px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 41, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef .chefCont .mImg ul li {
  display: inline-block;
  margin-right: 40px;
  vertical-align: bottom;
}
/* line 45, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef .chefCont .mImg ul li .chefimg {
  display: block;
  position: relative;
  z-index: 0;
  width: 256px;
  height: 216px;
  background-color: #FFFFFF;
  padding: 3px 3px 1px 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #b3b3ae;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
  behavior: url("../lib/PIE.htc");
}
/* line 58, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef .chefCont .mImg ul li p {
  margin-bottom: 10px;
}
/* line 60, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef .chefCont .mImg ul li p span {
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  padding: 6px;
  background-color: #90c31f;
  margin-right: 5px;
  vertical-align: middle;
}
/* line 68, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef .chefCont .mImg ul li p span + span {
  font-size: 16px;
  color: #342020;
  background-color: transparent;
  font-weight: normal;
  padding: 0;
}
/* line 74, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .chef .chefCont .mImg ul li p span + span i {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #df730a;
  line-height: 1.4;
}
/* line 89, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c1 {
  height: 361px;
  background-image: url("../img/chef01.png");
  background-position: 35px 0;
  margin-top: -24px;
}
/* line 94, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c1 .chefCont {
  padding-left: 250px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 100, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c2 {
  height: 364px;
  background-image: url("../img/chef02.png");
  background-position: 98% 0;
}
/* line 104, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c2 .chefCont {
  padding-right: 220px;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 111, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c3 {
  height: 373px;
  background-image: url("../img/chef03.png");
  background-position: 0 0;
}
/* line 115, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c3 .chefCont {
  padding-left: 250px;
  padding-top: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 119, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c3 .chefCont .mImg span + span {
  line-height: 1.2;
}
/* line 123, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c4 {
  height: 354px;
  background-image: url("../img/chef04.png");
  background-position: 98% 0;
}
/* line 127, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c4 .chefCont {
  padding: 27px 170px 0 35px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 133, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c5 {
  height: 363px;
  background-image: url("../img/chef05.png");
  background-position: 30px 0;
}
/* line 137, ../scss/_chef.scss */
.page_chef .contBox .cont .chefBox .c5 .chefCont {
  padding-left: 250px;
  padding-top: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, ../scss/_breezemarket.scss */
.page_breezemarket .contBox {
  width: 100%;
  min-width: 960px;
  background-image: url("../img/contbg.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #fffff7;
}
/* line 9, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 0;
}
/* line 14, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox {
  width: 914px;
  margin: 0 auto;
  padding: 20px 0 185px 0;
}
/* line 18, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont {
  width: 100%;
  min-height: 650px;
}
/* line 21, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mImg {
  width: 302px;
  float: left;
  text-align: right;
}
/* line 25, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mImg img {
  margin-bottom: 25px;
}
/* line 27, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mImg img + img {
  margin-bottom: 3px;
}
/* line 30, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont {
  width: 610px;
  float: left;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 35, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .mTitle {
  margin: 8px 0 13px 0;
  text-align: left;
}
/* line 39, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .title {
  border-left: 7px solid #90c31f;
  font-size: 18px;
  font-weight: bold;
  color: #ce3a4a;
  padding-left: 5px;
  margin-top: 15px;
}
/* line 46, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .title span {
  font-size: 14px;
  color: #342020;
  font-weight: normal;
}
/* line 52, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .text {
  display: block;
  font-size: 14px;
  color: #342020;
  margin-left: 13px;
}
/* line 57, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .text i {
  display: block;
  text-indent: -13px;
  margin: 10px 0 0 13px;
  line-height: 1.4;
}
/* line 64, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .time_location {
  width: 557px;
  margin: 10px 0 0 13px;
}
/* line 67, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .time_location li {
  padding: 13px 0;
  background-color: #f4f9e1;
  font-size: 14px;
  color: #342020;
}
/* line 72, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .time_location li span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 77, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .time_location li span + span {
  padding-left: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.6;
}
/* line 84, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .time_location li + li {
  background-color: #edf9bd;
}
/* line 85, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .time_location li + li + li {
  background-color: #f4f9e1;
}
/* line 86, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont .mCont .time_location li + li + li + li {
  background-color: #edf9bd;
}
/* line 89, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .breezemarketboxCont:after {
  content: "";
  display: table;
  clear: both;
}
/* line 95, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu {
  width: 635px;
  height: 118px;
  margin: 57px 0 0 125px;
  background-image: url("../img/market_bottomMenu_bg.png");
  background-repeat: no-repeat;
  padding: 35px 0 30px 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 103, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a {
  display: inline-block;
  height: 60px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  border-right: 1px solid #9d7843;
  -webkit-box-shadow: 1px 0px 0px 0px #7c6033;
  -moz-box-shadow: 1px 0px 0px 0px #7c6033;
  box-shadow: 1px 0px 0px 0px #7c6033;
  vertical-align: top;
  margin-right: 6px;
}
/* line 113, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a span {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 60px;
  height: 58px;
  background-image: url("../img/market_bottomMenu.png");
  background-position: 60px 0;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -5px;
}
/* line 124, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a span + span {
  width: 110px;
  background-image: none;
  padding-top: 10px;
  line-height: 1.4;
}
/* line 132, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a:hover span {
  background-image: url("../img/market_bottomMenu.png");
  background-position: 60px 58px;
}
/* line 135, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a:hover span + span {
  background-image: none;
}
/* line 142, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a + a span {
  background-image: url("../img/market_bottomMenu.png");
  background-position: 120px 0;
}
/* line 145, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a + a span + span {
  background-image: none;
}
/* line 150, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a + a:hover span {
  background-image: url("../img/market_bottomMenu.png");
  background-position: 120px 58px;
}
/* line 153, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a + a:hover span + span {
  background-image: none;
}
/* line 159, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a + a + a {
  border-right: none;
  -webkit-box-shadow: 0px 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}
/* line 162, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a + a + a span {
  width: 60px;
  height: 58px;
  background-image: url("../img/market_bottomMenu.png");
  background-position: 0 0;
}
/* line 167, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a + a + a span + span {
  width: 190px;
  background-image: none;
}
/* line 173, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a + a + a:hover span {
  background-image: url("../img/market_bottomMenu.png");
  background-position: 0 58px;
}
/* line 176, ../scss/_breezemarket.scss */
.page_breezemarket .contBox .cont .breezemarketBox .bottomMenu a + a + a:hover span + span {
  background-image: none;
}

/* line 2, ../scss/_restaurant.scss */
.page_restaurant .contBox {
  width: 100%;
  min-width: 960px;
  background-image: url("../img/contbg.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #fffff7;
}
/* line 9, ../scss/_restaurant.scss */
.page_restaurant .contBox .cont {
  width: 960px;
  margin: 0 auto;
}
/* line 12, ../scss/_restaurant.scss */
.page_restaurant .contBox .cont .restaurantBox {
  width: 100%;
  padding: 35px 0 275px 0;
}
/* line 15, ../scss/_restaurant.scss */
.page_restaurant .contBox .cont .restaurantBox .restaurantboxCont {
  width: 100%;
  min-height: 650px;
  background-image: url("../img/restaurantBg.png");
  background-repeat: no-repeat;
  background-position: 65% 94.5%;
  text-align: center;
}
/* line 22, ../scss/_restaurant.scss */
.page_restaurant .contBox .cont .restaurantBox .restaurantboxCont > span {
  display: block;
  width: 50%;
  float: left;
  margin-bottom: 24px;
  text-align: center;
}
/* line 29, ../scss/_restaurant.scss */
.page_restaurant .contBox .cont .restaurantBox .restaurantboxCont:after {
  content: "";
  display: table;
  clear: both;
}

/* line 2, ../scss/_fodder.scss */
.page_fodder .contBox {
  width: 100%;
  min-width: 960px;
  background-image: url("../img/contbg.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #fffff7;
}
/* line 9, ../scss/_fodder.scss */
.page_fodder .contBox .cont {
  width: 960px;
  margin: 0 auto;
}
/* line 12, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox {
  width: 100%;
  padding: 35px 0 245px 0;
  position: relative;
  top: 0;
}
/* line 17, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont {
  width: 100%;
  min-height: 650px;
}
/* line 20, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodmap {
  width: 330px;
  height: 530px;
  float: left;
  background-image: url("../img/foodmap.png");
  background-repeat: no-repeat;
}
/* line 27, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo {
  width: 630px;
  float: left;
}
/* line 30, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .foodText {
  min-height: 200px;
  margin-bottom: 40px;
}
/* line 33, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .foodText .mTitle {
  background-repeat: no-repeat;
  height: 25px;
  margin-left: 7px;
}
/* line 38, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .foodText ul {
  width: 595px;
}
/* line 40, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .foodText ul li {
  padding: 10px 10px 25px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #29220f;
  position: relative;
  top: 0;
}
/* line 46, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .foodText ul li .mText {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  z-index: 10;
}
/* line 53, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .foodText ul li .mText .title {
  min-height: 52px;
  font-size: 18px;
  padding-bottom: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 58, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .foodText ul li .mText .title i {
  display: inline-block;
  padding: 3px 5px;
  color: #ffffff;
  margin: 0 10px 0 20px;
}
/* line 65, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .foodText ul li .mText .text {
  font-size: 14px;
  line-height: 1.6;
  padding-top: 5px;
}
/* line 72, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .foodText ul li .bgblock {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=29);
  opacity: 0.29;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=29);
  z-index: 0;
}
/* line 88, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .wholeyear .mTitle {
  border-left: 13px solid #826412;
  padding-left: 10px;
}
/* line 92, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .wholeyear .title {
  border-bottom: 1px solid #826412;
}
/* line 94, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .wholeyear .title i {
  background-color: #826412;
}
/* line 95, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .wholeyear .title img {
  margin: 0 5px -13px 0;
}
/* line 99, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .spring .mTitle {
  border-left: 13px solid #f9bb16;
  padding-left: 10px;
}
/* line 102, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .spring .mTitle img {
  margin-top: -5px;
}
/* line 104, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .spring .title {
  border-bottom: 1px solid #f9bb16;
}
/* line 106, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .spring .title i {
  background-color: #f9bb16;
}
/* line 107, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .spring .title img {
  margin: 0 5px -16px 0;
}
/* line 111, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .summer .mTitle {
  border-left: 13px solid #4aabe8;
  padding-left: 10px;
}
/* line 114, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .summer .mTitle img {
  margin-top: -7px;
}
/* line 116, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .summer .title {
  border-bottom: 1px solid #4aabe8;
}
/* line 118, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .summer .title i {
  background-color: #4aabe8;
}
/* line 119, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .summer .title img {
  margin: 0 5px -10px 0;
}
/* line 123, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .fall .mTitle {
  border-left: 13px solid #e8a74a;
  padding-left: 10px;
}
/* line 126, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .fall .mTitle img {
  margin-top: -3px;
}
/* line 128, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .fall .title {
  border-bottom: 1px solid #e8a74a;
}
/* line 130, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .fall .title i {
  background-color: #e8a74a;
}
/* line 131, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .fall .title img {
  margin: 0 5px -15px 0;
}
/* line 135, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .winter .mTitle {
  border-left: 13px solid #cfcfcf;
  padding-left: 10px;
}
/* line 138, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .winter .mTitle img {
  margin-top: -7px;
}
/* line 140, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .winter .title {
  border-bottom: 1px solid #cfcfcf;
}
/* line 142, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .winter .title i {
  background-color: #cfcfcf;
}
/* line 143, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont .foodinfo .winter .title img {
  margin: 0 5px -16px 0;
}
/* line 148, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .fodderboxCont:after {
  content: "";
  display: table;
  clear: both;
}
/* line 154, ../scss/_fodder.scss */
.page_fodder .contBox .cont .fodderBox .goTop {
  position: fixed;
  display: none;
  top: 20px;
  left: 50%;
  margin-left: 450px;
  width: 35px;
  height: 42px;
  background-image: url("../img/goTop.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
