html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

html { font-size: 87.5%; line-height: 1.42857em; }

.pt_prev, .pt_next { display: block; overflow: hidden; text-indent: 100%; white-space: nowrap; }

#wrap { max-width: 100%; margin-left: auto; margin-right: auto; max-width: 960px; }
#wrap:after { content: " "; display: block; clear: both; }

html, body { width: 100%; min-width: 320px; min-width: 960px; }
html *, html *:before, html *:after, body *, body *:before, body *:after { color: #000; font-family: "Microsoft JhengHei", "Apple LiGothic Medium", "PMingLiU", "sans-serif", "serif"; }

@media screen and (min-width: 0px) { html, body { min-width: 320px; } }
#wrap { text-align: center; }

.md_slideShow { position: relative; background-color: #FFF; border: 10px solid #FFF; overflow: hidden; }

.pt_bannerList { padding-top: 50%; }
.pt_bannerList li { position: absolute; top: 0; width: 100%; height: 100%; z-index: 0; }
.pt_bannerList li img { display: block; position: relative; width: 100%; height: 100%; top: 0; left: 0; }

.pt_btnList { position: absolute; z-index: 999; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px; bottom: 0; }
.pt_btnList li { display: inline-block; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 8%; border: 1px solid #FFF; padding: 3px; background-color: #000; }
.pt_btnList li.on { border-color: #000; background-color: #FFF; }
.pt_btnList li + li { margin-left: 20px; }
.pt_btnList li img { display: block; width: 100%; }

.pt_prev, .pt_next { width: 30px; height: 50px; position: absolute; z-index: 999; top: 50%; margin-top: -25px; background-color: #FFF; }
.pt_prev.hide, .pt_next.hide { display: none; }
.pt_prev:before, .pt_prev:after, .pt_next:before, .pt_next:after { position: absolute; top: 50%; margin-top: -15px; content: ""; width: 0; height: 0; border-style: solid; }

.pt_prev:before, .pt_prev:after { left: 50%; margin-left: -10px; border-width: 15px 15px 15px 0; border-color: transparent #000 transparent transparent; }
.pt_prev:after { margin-left: -5px; border-color: transparent #FFF transparent transparent; }

.pt_next { right: 0; }
.pt_next:before, .pt_next:after { right: 50%; margin-right: -10px; border-width: 15px 0 15px 15px; border-color: transparent transparent transparent #000; }
.pt_next:after { margin-right: -5px; border-color: transparent transparent transparent #FFF; }

.appendDiv { position: absolute; top: 0; z-index: 0; height: 100%; width: 100%; }
.appendDiv div { float: left; height: 0; background-size: auto 100%; position: absolute; overflow: hidden; }
.appendDiv div img { display: inline-block; position: absolute; height: 100%; vertical-align: top; }

@media (max-width: 980px) { .pt_btnList li { width: 20px; border-radius: 20px; }
  .pt_btnList li img { display: none; } }

/*# sourceMappingURL=style.css.map */
