<div class="headerBox">
    <div class="header indexhd" align="center">
        <h1><a href="index.html"></a></h1>
        <span class="nav">
            <a href="three_kingdoms.html" class="a1"></a><!--
                   --><a href="ancient_city.html" class="a2"></a><!--
                   --><a href="culture_tourism.html" class="a3"></a><!--
                   --><a href="expert.html" class="a4"></a><!--
                   --><a href="http://www.liontravel.com/webpd/webpdsh00.aspx?sKind=1&sProd=14CBD06CI" target="_blank" class="a5"></a>
        </span>
        <span class="icon">
            <a href="" target="_blank" class="i1"></a>
            <a href="" target="_blank" class="i2"></a>
            <a href="" target="_blank" class="i3"></a>
            <a href="" target="_blank" class="i4"></a>
        </span>
    </div>
</div>