@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../scss/_var.scss */
.md .m_expert .md_content .md_block li .mWord, .md .m_partner .md_content .md_block li {
  display: block;
}
/* line 6, ../scss/_var.scss */
.md .m_expert .md_content .md_block li .mWord:after, .md .m_partner .md_content .md_block li:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  overflow: hidden;
  line-height: 0;
  height: 0;
}

/* line 12, ../scss/_var.scss */
.md .m_attractions, .md .m_sporty_trip, .md .m_expert, .md .m_partner, .md .m_tour {
  background-image: url("../images/graybg.png");
  background-repeat: no-repeat;
}

/* line 17, ../scss/_var.scss */
.md .m_expert .md_content .md_block li .expertBtn, .md .m_expert .md_content .md_block li .fb {
  display: block;
  height: 35px;
  color: #ffffff;
  padding: 10px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  position: absolute;
  top: -20px;
  background-repeat: repeat-x;
}

/* line 1, ../scss/_hd.scss */
.headerBox {
  width: 100%;
  font-family: Microsoft JhengHei;
  position: relative;
  top: 0;
  z-index: 9999;
}
/* line 7, ../scss/_hd.scss */
.headerBox .header {
  margin: 0 auto;
}
/* line 9, ../scss/_hd.scss */
.headerBox .header .hdCont {
  width: 100%;
}
/* line 11, ../scss/_hd.scss */
.headerBox .header .hdCont .menu {
  width: 960px;
  margin: 0 auto;
}
/* line 14, ../scss/_hd.scss */
.headerBox .header .hdCont .menu .navbg {
  width: 100%;
  height: 108px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 19, ../scss/_hd.scss */
.headerBox .header .hdCont .menu .navbg li {
  float: left;
  width: 100px;
  margin: 60px 0  0;
  -webkit-transform: skewX(-29deg);
  -moz-transform: skewX(-29deg);
  -ms-transform: skewX(-29deg);
  -o-transform: skewX(-29deg);
  transform: skewX(-29deg);
  position: relative;
  top: 0;
  z-index: 25;
  background-image: url("../images/navbg_off.jpg");
  background-repeat: repeat-x;
  border-right: 1px solid #02b0fa;
  text-align: center;
}
/* line 31, ../scss/_hd.scss */
.headerBox .header .hdCont .menu .navbg li:hover {
  background-image: url("../images/navbg_on.jpg");
}
/* line 32, ../scss/_hd.scss */
.headerBox .header .hdCont .menu .navbg li a {
  display: block;
  width: 90px;
  height: 48px;
  margin: 0 auto;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #FFFFFF;
  -webkit-transform: skewX(29deg);
  -moz-transform: skewX(29deg);
  -ms-transform: skewX(29deg);
  -o-transform: skewX(29deg);
  transform: skewX(29deg);
}
/* line 45, ../scss/_hd.scss */
.headerBox .header .hdCont .menu .navbg li.logo {
  width: 295px;
}
/* line 47, ../scss/_hd.scss */
.headerBox .header .hdCont .menu .navbg li.logo:hover {
  background-image: url("../images/navbg_off.jpg");
}
/* line 48, ../scss/_hd.scss */
.headerBox .header .hdCont .menu .navbg li.logo img {
  display: block;
  position: absolute;
  top: -40px;
  left: 50%;
  margin-left: -133px;
}
/* line 56, ../scss/_hd.scss */
.headerBox .header .hdCont .menu .navbg li + li {
  border-right: 1px solid #02b0fa;
  border-left: 1px solid #177aac;
}
/* line 60, ../scss/_hd.scss */
.headerBox .header .hdCont .menu .navbg li.a3 {
  width: 115px;
}
/* line 62, ../scss/_hd.scss */
.headerBox .header .hdCont .menu .navbg:after {
  content: "";
  display: table;
  clear: both;
}

/* line 81, ../scss/_hd.scss */
.attractions .headerBox .header .hdCont .menu .navbg .a1 {
  background-image: url("../images/navbg_on.jpg");
}

/* line 84, ../scss/_hd.scss */
.sporty_trip .headerBox .header .hdCont .menu .navbg .a2 {
  background-image: url("../images/navbg_on.jpg");
}

/* line 88, ../scss/_hd.scss */
.expert .headerBox .header .hdCont .menu .navbg .a3 {
  background-image: url("../images/navbg_on.jpg");
}

/* line 92, ../scss/_hd.scss */
.tour .headerBox .header .hdCont .menu .navbg .a4 {
  background-image: url("../images/navbg_on.jpg");
}

/* line 96, ../scss/_hd.scss */
.partner .headerBox .header .hdCont .menu .navbg .a5 {
  background-image: url("../images/navbg_on.jpg");
}

/* line 100, ../scss/_hd.scss */
.activity .headerBox .header .hdCont .menu .navbg .a6 {
  background-image: url("../images/navbg_on.jpg");
}

/* line 1, ../scss/_ft.scss */
.footerBox {
  width: 100%;
  z-index: 0;
  background-color: #1588c3;
  font-family: Microsoft JhengHei;
}
/* line 6, ../scss/_ft.scss */
.footerBox .indexbottomLink {
  width: 100%;
  margin-top: -38px;
}
/* line 9, ../scss/_ft.scss */
.footerBox .indexbottomLink .btnbox {
  width: 960px;
  margin: 0 auto;
}
/* line 12, ../scss/_ft.scss */
.footerBox .indexbottomLink .btnbox a {
  display: inline-block;
  height: 28px;
  color: #feffff;
  font-size: 18px;
  font-weight: bold;
  background-color: #ff7200;
  padding: 10px 15px 0;
  text-decoration: none;
  -webkit-transform: skew(-29deg, 0);
  -moz-transform: skew(-29deg, 0);
  -ms-transform: skew(-29deg, 0);
  -o-transform: skew(-29deg, 0);
  transform: skew(-29deg, 0);
}
/* line 22, ../scss/_ft.scss */
.footerBox .indexbottomLink .btnbox a p {
  -webkit-transform: skew(29deg, 0);
  -moz-transform: skew(29deg, 0);
  -ms-transform: skew(29deg, 0);
  -o-transform: skew(29deg, 0);
  transform: skew(29deg, 0);
}
/* line 27, ../scss/_ft.scss */
.footerBox .indexbottomLink .whiteline {
  width: 100%;
  border-top: 1px solid #ffffff;
}
/* line 32, ../scss/_ft.scss */
.footerBox .footer {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 10px;
}
/* line 36, ../scss/_ft.scss */
.footerBox .footer .ftCont {
  color: #ffffff;
  width: 750px;
  margin: 0 auto;
}
/* line 40, ../scss/_ft.scss */
.footerBox .footer .ftCont li {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 72px;
  margin-left: 10px;
  background-image: url("../images/ftlogo.png");
  background-repeat: no-repeat;
}
/* line 48, ../scss/_ft.scss */
.footerBox .footer .ftCont li a {
  display: block;
  width: 60px;
  height: 72px;
  background-image: url("../images/ftlogo.png");
  background-repeat: no-repeat;
}
/* line 55, ../scss/_ft.scss */
.footerBox .footer .ftCont li + li {
  width: 600px;
  background-image: none;
}
/* line 58, ../scss/_ft.scss */
.footerBox .footer .ftCont li + li p {
  text-align: center;
  padding-top: 30px;
  font-size: 13px;
}
/* line 64, ../scss/_ft.scss */
.footerBox .footer .ftCont li + li + li {
  background-image: none;
  width: 22px;
  height: 22px;
}
/* line 68, ../scss/_ft.scss */
.footerBox .footer .ftCont li + li + li a {
  width: 22px;
  height: 22px;
  background-image: url("../images/fbicon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-top: 23px;
}
/* line 79, ../scss/_ft.scss */
.footerBox .footer .ftlogo {
  color: #ffffff;
  width: 850px;
  margin: 10px  auto 0;
}
/* line 83, ../scss/_ft.scss */
.footerBox .footer .ftlogo li {
  display: inline-block;
  width: 90px;
  height: 90px;
  vertical-align: top;
  background-size: contain;
  padding: 40px 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 91, ../scss/_ft.scss */
.footerBox .footer .ftlogo li + li {
  width: 26%;
  background-image: url("../images/ftlogo_01.png");
  background-repeat: no-repeat;
  margin: 0 6px;
}
/* line 96, ../scss/_ft.scss */
.footerBox .footer .ftlogo li + li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 102, ../scss/_ft.scss */
.footerBox .footer .ftlogo li + li + li {
  width: 15.2%;
  background-image: url("../images/ftlogo_02.png");
}
/* line 103, ../scss/_ft.scss */
.footerBox .footer .ftlogo li + li + li + li {
  width: 72px;
  background-image: url("../images/ftlogo_03.png");
}
/* line 104, ../scss/_ft.scss */
.footerBox .footer .ftlogo li + li + li + li + li {
  width: 72px;
  background-image: url("../images/ftlogo_04.png");
}
/* line 105, ../scss/_ft.scss */
.footerBox .footer .ftlogo li + li + li + li + li + li {
  width: 160px;
  background-image: url("../images/ftlogo_05.png");
}

/* line 1, ../scss/_layout.scss */
html, body {
  height: 100%;
  width: 100%;
  min-width: 1024px;
}

/* line 6, ../scss/_layout.scss */
.wrapper {
  width: 100%;
  /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
  min-height: 100%;
  /* 位置設為relative, 作為footer區塊位置的參考 */
  position: relative;
  top: 0;
}
/* line 15, ../scss/_layout.scss */
.wrapper .container .container1 {
  width: 100%;
  background-position: center 0;
}
/* line 19, ../scss/_layout.scss */
.wrapper .container .container1 .main {
  width: 960px;
  margin: 0 auto;
  position: relative;
  top: 0;
  z-index: 20;
}
/* line 30, ../scss/_layout.scss */
.wrapper .container .attrBg {
  background-attachment: fixed;
}

/* line 34, ../scss/_layout.scss */
.partner .wrapper .container .attrBg {
  background-image: url("../images/partnerBg.jpg");
  background-position: center -20px;
}

/* line 39, ../scss/_layout.scss */
.tour .wrapper .container .attrBg {
  background-image: url("../images/tourBg.jpg");
  background-position: center -100px;
}

/* line 44, ../scss/_layout.scss */
.expert .wrapper .container .attrBg {
  background-image: url("../images/expertBg.jpg");
  background-position: center -500px;
}

/* line 49, ../scss/_layout.scss */
.sporty_trip .wrapper .container .attrBg {
  background-image: url("../images/sportyTripBb.jpg");
  background-position: center -150px;
}

/* line 54, ../scss/_layout.scss */
.attractions .wrapper .container .attrBg {
  background-image: url("../images/attractionsBg.jpg");
  background-position: center 0;
}

/* line 2, ../scss/_md.scss */
.autopic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 883px;
  z-index: 0;
}
/* line 9, ../scss/_md.scss */
.autopic .autopic_content {
  position: relative;
  top: 0;
  min-width: 1024px;
}
/* line 13, ../scss/_md.scss */
.autopic .autopic_content .autopic_img {
  width: 100%;
  min-height: 883px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 18, ../scss/_md.scss */
.autopic .autopic_content .autopic_img > div {
  width: 100%;
  min-height: 883px;
  background-position: center 0px;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 26, ../scss/_md.scss */
.autopic .autopic_content .autopic_img > div.picOn {
  z-index: 10;
}

/* line 36, ../scss/_md.scss */
.mPic {
  position: relative;
  top: 0;
  height: 100%;
  width: 688px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 43, ../scss/_md.scss */
.mPic .mBigpic {
  position: relative;
  top: 0;
  width: 688px;
  height: 339px;
  margin-bottom: 12px;
}
/* line 49, ../scss/_md.scss */
.mPic .mBigpic span {
  display: block;
  width: 688px;
  padding: 5px;
  border: 1px solid #b1b1b1;
  background-color: #f3f3f3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
}
/* line 60, ../scss/_md.scss */
.mPic .mBigpic span + span {
  z-index: 0;
  opacity: 0;
}
/* line 61, ../scss/_md.scss */
.mPic .mBigpic span img {
  display: block;
  width: 100%;
}
/* line 64, ../scss/_md.scss */
.mPic .mSmallpic {
  position: absolute;
  bottom: 13px;
  right: 4px;
  z-index: 20;
}
/* line 69, ../scss/_md.scss */
.mPic .mSmallpic span {
  display: inline-block;
  width: 65px;
  padding: 1px;
  border: 1px solid #b1b1b1;
  background-color: #f3f3f3;
  cursor: pointer;
}
/* line 76, ../scss/_md.scss */
.mPic .mSmallpic span img {
  display: block;
  width: 100%;
}

/* line 84, ../scss/_md.scss */
.mPic2 {
  position: relative;
  top: 0;
  height: 100%;
  width: 688px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 91, ../scss/_md.scss */
.mPic2 .mBigpic2 {
  position: relative;
  top: 0;
  width: 700px;
  height: 351px;
}
/* line 96, ../scss/_md.scss */
.mPic2 .mBigpic2 span {
  display: block;
  width: 688px;
  padding: 5px;
  border: 1px solid #b1b1b1;
  background-color: #f3f3f3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
}
/* line 107, ../scss/_md.scss */
.mPic2 .mBigpic2 span + span {
  z-index: 0;
  opacity: 0;
}
/* line 108, ../scss/_md.scss */
.mPic2 .mBigpic2 span img {
  display: block;
  max-height: 339px;
}
/* line 111, ../scss/_md.scss */
.mPic2 > a {
  display: block;
  width: 45px;
  height: 45px;
  position: absolute;
  left: -38px;
  top: 50%;
  z-index: 15;
  margin-top: -22px;
  background-image: url("../images/btn.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 123, ../scss/_md.scss */
.mPic2 > a + a.rightBtn {
  background-position: -46px 0;
  left: 100.8%;
}

/* line 133, ../scss/_md.scss */
.goTop {
  width: 51px;
  height: 51px;
  position: fixed;
  bottom: 120px;
  left: 50%;
  margin-left: 435px;
  cursor: pointer;
  background-image: url("../images/goTop.png");
}

/* line 146, ../scss/_md.scss */
.md {
  margin: 30px auto 0;
  width: 848px;
  background-image: url("../images/mainBg.png");
  background-repeat: repeat;
  font-family: Microsoft JhengHei;
}
/* line 153, ../scss/_md.scss */
.md .md_title {
  width: 100%;
  height: 104px;
  background-image: url("../images/titleBg.png");
  background-repeat: no-repeat;
  background-position: -1px 0;
  padding: 30px 0 0 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 161, ../scss/_md.scss */
.md .md_title p {
  padding: 33px 0 0 55px;
  background-repeat: no-repeat;
}
/* line 172, ../scss/_md.scss */
.md .m_attractions .md_title p {
  background-image: url("../images/attractionsTitle.png");
}
/* line 174, ../scss/_md.scss */
.md .m_attractions .md_content .md_block {
  width: 710px;
  margin: 20px auto 0;
}
/* line 177, ../scss/_md.scss */
.md .m_attractions .md_content .md_block li {
  padding-bottom: 30px;
}
/* line 178, ../scss/_md.scss */
.md .m_attractions .md_content .md_block .mTitle {
  font-size: 24px;
  color: #0d6ea1;
  font-weight: bold;
}
/* line 183, ../scss/_md.scss */
.md .m_attractions .md_content .md_block .mWord {
  font-size: 14px;
  color: #0e0b0b;
}
/* line 186, ../scss/_md.scss */
.md .m_attractions .md_content .md_block .mWord p {
  line-height: 1.4;
  margin: 10px 0;
}
/* line 193, ../scss/_md.scss */
.md .m_attractions .md_content .pageLink {
  margin: 25px auto 0;
  padding-bottom: 30px;
}
/* line 197, ../scss/_md.scss */
.md .m_attractions .md_content .pageLink ul li {
  display: inline-block;
  margin: 0 1px;
  font-size: 14px;
  font-family: Arial;
}
/* line 202, ../scss/_md.scss */
.md .m_attractions .md_content .pageLink ul li a {
  color: #1398d2;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 208, ../scss/_md.scss */
.md .m_attractions .md_content .pageLink ul li a:hover {
  background-color: #ffc30d;
  color: white;
}
/* line 214, ../scss/_md.scss */
.md .m_attractions .md_content .pageLink ul .fd {
  margin-right: 8px;
}
/* line 215, ../scss/_md.scss */
.md .m_attractions .md_content .pageLink ul .bk {
  margin-left: 8px;
}
/* line 216, ../scss/_md.scss */
.md .m_attractions .md_content .pageLink ul .liOn {
  background-color: #ffc30d;
}
/* line 218, ../scss/_md.scss */
.md .m_attractions .md_content .pageLink ul .liOn a {
  color: #fff;
}
/* line 227, ../scss/_md.scss */
.md .m_sporty_trip .md_title p {
  background-image: url("../images/sportTitle.png");
}
/* line 229, ../scss/_md.scss */
.md .m_sporty_trip .md_content .md_block {
  width: 788px;
  margin: 20px auto 0;
  padding-bottom: 30px;
}
/* line 233, ../scss/_md.scss */
.md .m_sporty_trip .md_content .md_block li {
  border-bottom: 1px solid #fbd148;
  padding: 10px 35px 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 237, ../scss/_md.scss */
.md .m_sporty_trip .md_content .md_block li .mTitle {
  padding-bottom: 12px;
  font-size: 24px;
  color: #0d6ea1;
  font-weight: bold;
}
/* line 242, ../scss/_md.scss */
.md .m_sporty_trip .md_content .md_block li .mTitle img {
  display: inline-block;
  margin: 0 15px -12px 0;
}
/* line 243, ../scss/_md.scss */
.md .m_sporty_trip .md_content .md_block li .mTitle span {
  font-size: 36px;
  font-weight: bold;
  color: #ff6000;
}
/* line 249, ../scss/_md.scss */
.md .m_sporty_trip .md_content .md_block li .mWord {
  font-size: 14px;
  color: #0e0b0b;
}
/* line 252, ../scss/_md.scss */
.md .m_sporty_trip .md_content .md_block li .mWord p {
  line-height: 1.4;
  margin: 10px 0;
}
/* line 257, ../scss/_md.scss */
.md .m_sporty_trip .md_content .md_block li + li + li + li + li {
  border-bottom: none;
}
/* line 259, ../scss/_md.scss */
.md .m_sporty_trip .md_content .md_block li + li + li + li + li .mTitle img {
  margin: 0 15px -18px 0;
}
/* line 268, ../scss/_md.scss */
.md .m_expert .md_title p {
  background-image: url("../images/expertTitle.png");
}
/* line 270, ../scss/_md.scss */
.md .m_expert .md_content .md_block {
  width: 810px;
  margin: 0 auto;
  padding: 50px 0 30px;
}
/* line 274, ../scss/_md.scss */
.md .m_expert .md_content .md_block li {
  border: 1px solid #ff5a00;
  margin: 20px 0 60px;
  padding: 36px 18px 18px;
  position: relative;
  top: 0;
}
/* line 280, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .mTitle {
  display: inline-block;
  padding: 5px 15px;
  background-color: #ff5a00;
  position: absolute;
  top: -20px;
  left: 30px;
  -webkit-transform: skewX(29deg);
  -moz-transform: skewX(29deg);
  -ms-transform: skewX(29deg);
  -o-transform: skewX(29deg);
  transform: skewX(29deg);
}
/* line 288, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .mTitle span {
  display: block;
  -webkit-transform: skewX(-29deg);
  -moz-transform: skewX(-29deg);
  -ms-transform: skewX(-29deg);
  -o-transform: skewX(-29deg);
  transform: skewX(-29deg);
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
/* line 294, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .mTitle span b {
  font-size: 28px;
  padding: 0 30px;
}
/* line 297, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .blue {
  background-color: #1e7eb0;
}
/* line 298, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .expertBtn {
  background-image: url("../images/expertBtn.jpg");
  right: 140px;
}
/* line 303, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .fb {
  background-image: url("../images/expertFbBtn.jpg");
  right: 20px;
}
/* line 310, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .mWord .figure {
  width: 338px;
  float: left;
  border: 1px solid #ff5a00;
}
/* line 314, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .mWord .figure img {
  display: block;
}
/* line 316, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .mWord .text {
  width: 415px;
  float: left;
  padding-left: 15px;
}
/* line 320, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .mWord .text p {
  color: #000000;
  font-size: 14px;
  line-height: 1.6;
}
/* line 325, ../scss/_md.scss */
.md .m_expert .md_content .md_block li .mWord .text .title {
  font-size: 18px;
  font-weight: bold;
  color: #943a09;
  border-left: 7px solid #ff5a00;
  padding-left: 5px;
  line-height: 1;
  margin: 20px 0 10px;
}
/* line 343, ../scss/_md.scss */
.md .m_partner .md_title p {
  background-image: url("../images/partnerTitle.png");
}
/* line 345, ../scss/_md.scss */
.md .m_partner .md_content .md_block {
  width: 755px;
  margin: 0 auto;
  padding: 30px  0 60px;
}
/* line 349, ../scss/_md.scss */
.md .m_partner .md_content .md_block li {
  border-bottom: 1px solid #ff7200;
  padding: 30px 0;
  position: relative;
  top: 0;
}
/* line 355, ../scss/_md.scss */
.md .m_partner .md_content .md_block li .figure {
  width: 240px;
  float: left;
  height: 200px;
  line-height: 200px;
  text-align: center;
}
/* line 361, ../scss/_md.scss */
.md .m_partner .md_content .md_block li .figure img {
  vertical-align: middle;
}
/* line 363, ../scss/_md.scss */
.md .m_partner .md_content .md_block li .mWord {
  width: 490px;
  float: left;
  padding: 0 0 0 25px;
  position: relative;
  top: 0;
}
/* line 369, ../scss/_md.scss */
.md .m_partner .md_content .md_block li .mWord .mTitle {
  font-size: 24px;
  color: #ff7200;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 375, ../scss/_md.scss */
.md .m_partner .md_content .md_block li .mWord .fbshare {
  position: absolute;
  top: 0px;
  right: 0;
}
/* line 381, ../scss/_md.scss */
.md .m_partner .md_content .md_block li .mWord .text p {
  color: #282828;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
}
/* line 389, ../scss/_md.scss */
.md .m_partner .md_content .md_block li .webLink {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 12px;
  height: 40px;
  padding: 12px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: skewX(-29deg);
  -moz-transform: skewX(-29deg);
  -ms-transform: skewX(-29deg);
  -o-transform: skewX(-29deg);
  transform: skewX(-29deg);
  text-decoration: none;
  background-color: #ff7200;
}
/* line 400, ../scss/_md.scss */
.md .m_partner .md_content .md_block li .webLink p {
  -webkit-transform: skewX(29deg);
  -moz-transform: skewX(29deg);
  -ms-transform: skewX(29deg);
  -o-transform: skewX(29deg);
  transform: skewX(29deg);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}
/* line 408, ../scss/_md.scss */
.md .m_partner .md_content .md_block li + li + li + li .figure {
  height: 345px;
  line-height: 345px;
}
/* line 411, ../scss/_md.scss */
.md .m_partner .md_content .md_block li + li + li + li + li .figure {
  height: 200px;
  line-height: 200px;
}
/* line 420, ../scss/_md.scss */
.md .m_tour .md_title p {
  background-image: url("../images/tourTitle.png");
}
/* line 421, ../scss/_md.scss */
.md .m_tour .md_content {
  padding-bottom: 78px;
}
/* line 423, ../scss/_md.scss */
.md .m_tour .md_content .md_block {
  width: 700px;
  margin: 0 auto;
  padding: 35px 0 55px;
}
/* line 427, ../scss/_md.scss */
.md .m_tour .md_content .md_block li {
  width: 140px;
  float: left;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../images/tourpointer.png");
  background-repeat: no-repeat;
  margin: 15px 8px;
}
/* line 436, ../scss/_md.scss */
.md .m_tour .md_content .md_block li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #0b6f9a;
}
/* line 442, ../scss/_md.scss */
.md .m_tour .md_content .md_block li:hover {
  background-position: 5px 0;
}
/* line 446, ../scss/_md.scss */
.md .m_tour .md_content .md_block:after {
  content: "";
  display: table;
  clear: both;
}
/* line 452, ../scss/_md.scss */
.md .m_tour .md_content .attractionsLink {
  background-color: #fbd249;
}
/* line 454, ../scss/_md.scss */
.md .m_tour .md_content .attractionsLink ul {
  width: 790px;
  margin: 0 auto;
}
/* line 457, ../scss/_md.scss */
.md .m_tour .md_content .attractionsLink ul li {
  margin: 15px 4px 15px 10px;
  float: left;
  background-image: url("../images/tour01.png");
  background-repeat: no-repeat;
}
/* line 462, ../scss/_md.scss */
.md .m_tour .md_content .attractionsLink ul li a {
  color: #fffffe;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  width: 248px;
  height: 132px;
  padding: 105px 10px 0 0;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 474, ../scss/_md.scss */
.md .m_tour .md_content .attractionsLink ul li + li {
  background-image: url("../images/tour02.png");
}
/* line 475, ../scss/_md.scss */
.md .m_tour .md_content .attractionsLink ul li + li + li {
  background-image: url("../images/tour03.png");
}
/* line 477, ../scss/_md.scss */
.md .m_tour .md_content .attractionsLink ul:after {
  content: "";
  display: table;
  clear: both;
}

/* line 489, ../scss/_md.scss */
.page.index .wrapper .container .container1 .main {
  min-height: 775px;
}
/* line 490, ../scss/_md.scss */
.page.attractions .wrapper .container .container1 .footerBox .indexbottomLink {
  display: none;
}
/* line 491, ../scss/_md.scss */
.page.expert .wrapper .container .container1 .footerBox .indexbottomLink {
  display: none;
}
/* line 492, ../scss/_md.scss */
.page.partner .wrapper .container .container1 .footerBox .indexbottomLink {
  display: none;
}
/* line 493, ../scss/_md.scss */
.page.sporty_trip .wrapper .container .container1 .footerBox .indexbottomLink {
  display: none;
}
/* line 494, ../scss/_md.scss */
.page.tour .wrapper .container .container1 .footerBox .indexbottomLink {
  display: none;
}
