.th-2018worldCup{
  .md-block32{
    width: 1200px;
    margin:50px auto 100px;
    @extend %clear;
    .block32{
      margin:10px 10px 30px;
      width: 240px;
      float: left;
      .pt-country{
        width: 220px;
        height: 36px;
        background-color: #e1e3e7;
        padding:10px 0;
        margin-bottom:3px;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        .num{
          position: absolute;
          width: 30px;
          height: 100%;
          top:0;
          right:0;
          @include transform(translate3d(30px,0,0));
          background-color:grey;
          color:#fff;
          text-align: center;
          padding-top: 10px;
          box-sizing: border-box;
          @include transition(all,0.2s);
        }
        &:hover{
          .num{
            @include transform(translate3d(0,0,0));
            @include transition(all,0.2s);
          }
        }
        &.selected{
          .num{
            @include transform(translate3d(0,0,0));
            background-color: #77a02e;         
          }
          &[data-num='3']{
            .num{
              background-color: #c2a345;
            }
          }
          &[data-num='4']{
            .num{
              background-color: #b0b4bd;
            } 
          }
        }
      }
      &[data-num='0'], &[data-num='1']{
        .pt-country{
          .num{
            background-color: #77a02e; 
          }
        }
      }
      &[data-num="2"]{
        .pt-country{
          &:not(.selected){
            .num{
              background-color: #c2a345;
            }
          }
        }
      }
      &[data-num="3"]{
        .pt-country{
          &:not(.selected){
            .num{
              background-color: #b0b4bd;
            }
          }
        }
      }
    }    
  }
  .md-block16{
    background-color:gray;
    padding:20px;
    box-sizing: border-box;
    margin-bottom: 100px;
    .block16{
      width: 1200px;
      margin:0 auto ;      
      @extend %clear;
      .pt-group{
        float: left;
        border:2px dashed #e1e3e7;
        width: 220px;
        padding: 4px;
        border-radius: 5px;
        margin: 0 0 20px 20px;
        >div{
          width: 100%;
          height: 36px;
          background-color: #e1e3e7;
          position: relative;
          @include transition(all,0.3s);
          &+div{
            margin-top:3px;
          }
          .g-num{
            text-align: center;
            padding: 10px 0;
            box-sizing: border-box;
          }
          .setCountry{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            background-color:#b7b3c7;
            cursor: pointer;
            &:after{
              content:attr(data-after);
              position: absolute;
              width: 36px;
              height: 36px;
              top: 0;
              right: 0;
              text-align: center;
              padding-top: 9px;
              box-sizing: border-box;
              border: 1px solid #b7b3c7;
              background-color: gray;
            }
            &.active{
              .competition{
                display: block;
              }
            }
            &.win{
              &:after{
                background-color: #e1e3e7;
                @include transition(all,0.2s);
              }
            }
            .competition{
              display: none;
              position: absolute;
              right: 0;
              top: 36px;
              background-color: #fff;
              z-index: 10;
              li{
                width: 36px;
                height: 36px;
                text-align: center;
                padding-top: 9px;
                box-sizing: border-box;
                cursor: pointer;
              }
            }
          }
          &.hover{
            background-color: #bbbbbb;
            @include transition(all,0.3s);
          }
        }
      }
    }
  }

  .md-block8{
    background-color:gray;
    padding:20px;
    box-sizing: border-box;
    .block8{
      width: 1200px;
      margin:0 auto ;      
      @extend %clear;
      .pt-group{
        float: left;
        border:2px dashed #e1e3e7;
        width: 220px;
        padding: 4px;
        border-radius: 5px;
        margin: 0 0 20px 20px;
        >div{
          width: 100%;
          height: 36px;
          background-color: #e1e3e7;
          position: relative;
          @include transition(all,0.3s);
          &+div{
            margin-top:3px;
          }
          .g-num{
            text-align: center;
            padding: 10px 0;
            box-sizing: border-box;
          }
          .setCountry{
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            background-color:#b7b3c7;
            cursor: pointer;
            &:after{
              content:attr(data-after);
              position: absolute;
              width: 36px;
              height: 36px;
              top: 0;
              right: 0;
              text-align: center;
              padding-top: 9px;
              box-sizing: border-box;
              border: 1px solid #b7b3c7;
              background-color: gray;
            }
            &.active{
              .competition{
                display: block;
              }
            }
            &.win{
              &:after{
                background-color: #e1e3e7;
                @include transition(all,0.2s);
              }
            }
            .competition{
              display: none;
              position: absolute;
              right: 0;
              top: 36px;
              background-color: #fff;
              z-index: 10;
              li{
                width: 36px;
                height: 36px;
                text-align: center;
                padding-top: 9px;
                box-sizing: border-box;
                cursor: pointer;
              }
            }
          }
          &.hover{
            background-color: #bbbbbb;
            @include transition(all,0.3s);
          }
        }
      }
    }
  }
}