<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>SlideShow</title>
    <link rel="stylesheet" href="css/style.css">
    <!--[if (lt IE 9) & (!IEMobile)]>
        <script src="js/html5shiv.min.js" type="text/javascript"></script>
    <!--<![endif]-->
</head>

<body>
    <div id="wrap">
        <div id="silderT1">
            <div class="md_slideShow">
                <ul class="pt_bannerList">
                    <li><a href="https://www.google.com.tw"><img src="images/1.jpg"></a></li>
                    <li><a href="https://tw.yahoo.com/"><img src="images/2.jpg"></a></li>
                    <li><a href=""><img src="images/3.jpg"></a></li>
                    <li><a href=""><img src="images/4.jpg"></a></li>
                </ul>
                <div class="appendDiv"></div>
                <ul class="pt_btnList">
                    <li class="on"><img src="images/1.jpg"></li>
                    <li><img src="images/2.jpg"></li>
                    <li><img src="images/3.jpg"></li>
                    <li><img src="images/4.jpg"></li>
                </ul>
                <a class="pt_prev" href="#">Prev</a>
                <a class="pt_next" href="#">Next</a>
            </div>
        </div>
    </div>
</body>

</html>
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/silderT1.js" type="text/javascript"></script>
<script>
$(window).load(function() {
    $(window).resize(function() {
        $(".pt_bannerList").each(function(index, element) {
            var target = $(element);
            target.css({
                height: target.children("li").outerHeight(true)
            })
        });
    }).resize();

})
</script>
