<div class="headerBox">
    <div class="header">
        <div class="hdCont">
            <div class="menu" align="center">
                <ul class="navbg">
                    <li class="a1"><a href="index.html" >首頁</a></li>
                    <li class="a2"><a href="rule.html">活動辦法</a></li>
                    <li class="a3"><a href="anhui5a.html">金牌熱門景點</a></li>
                    <li class="a4"><a href="winner.html">得獎公告</a></li>
                    <li class="a5"><a href="http://www.liontravel.com/comm/2topic/china/ah-tour01.asp" target="_blank">安徽魅力遊程</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>