@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../scss/_layout.scss */
html, body {
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-repeat: repeat;
}

/* line 6, ../scss/_layout.scss */
.wrapper {
  width: 100%;
  font-family: "微軟正黑體";
}
/* line 10, ../scss/_layout.scss */
.wrapper .containerBox {
  position: relative;
  top: 0;
  z-index: 10;
}
/* line 14, ../scss/_layout.scss */
.wrapper .containerBox .container {
  width: 100%;
}
/* line 15, ../scss/_layout.scss */
.wrapper .containerBox .container .contBg {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 80%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 25, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox {
  width: 100%;
  min-width: 960px;
  background-position: center top;
  padding: 48px 0 15px 0;
  background-repeat: no-repeat;
}
/* line 31, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont {
  width: 857px;
  margin: 0 auto;
}
/* line 34, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX {
  width: 100%;
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: 0;
}
/* line 40, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont {
  width: 100%;
  min-height: 650px;
  position: relative;
  top: 0;
  z-index: 10;
}
/* line 46, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mTitle {
  background-image: url("../img/dotted.png");
  background-position: 0 100%;
  background-repeat: repeat-x;
  font-size: 30px;
  padding-bottom: 5px;
  font-weight: normal;
}
/* line 53, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mTitle span {
  display: inline-block;
  width: 55px;
  height: 40px;
  padding-left: 55px;
  margin: 0 5px -3px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
/* line 63, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText {
  padding: 23px 0 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 66, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont {
  width: 540px;
  min-height: 500px;
  float: left;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 73, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .aSet {
  margin-bottom: 35px;
}
/* line 75, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .aSet .title {
  font-size: 18px;
  color: #cc4926;
  border-left: 9px solid #cc4926;
  font-weight: bold;
  padding-left: 4px;
  margin-bottom: 5px;
}
/* line 82, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .aSet .title span {
  font-weight: normal;
  padding-left: 5px;
}
/* line 87, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .aSet .text {
  font-size: 14px;
  color: #222222;
  line-height: 1.6;
  margin-bottom: 15px;
}
/* line 92, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .aSet .text a {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #cc9f32;
  text-decoration: none;
}
/* line 105, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .twopic .img > span {
  display: inline-block;
  margin-right: -1px;
  text-align: center;
}
/* line 109, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .twopic .img > span i {
  display: block;
  width: 260px;
  padding: 5px 0 8px 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 117, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .twopic .img > span + span {
  margin-right: -4px;
}
/* line 119, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .twopic .img > img {
  margin-right: 3px;
}
/* line 120, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .twopic .img > img + img {
  margin-right: 0;
}
/* line 126, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .threepic .img > span {
  display: inline-block;
  margin-right: 6px;
  text-align: center;
  vertical-align: top;
}
/* line 131, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .threepic .img > span i {
  display: block;
  width: 168px;
  padding: 5px 0 8px 0;
  font-size: 14px;
  font-weight: bold;
}
/* line 138, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .threepic .img > span span {
  display: block;
  width: 168px;
  font-size: 14px;
  line-height: 1.4;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 147, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .threepic .img > span + span {
  margin-right: 6px;
}
/* line 148, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .leftCont .threepic .img > span + span + span {
  margin-right: -4px;
}
/* line 153, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .rightCont {
  width: 240px;
  float: left;
  background-color: #b45235;
}
/* line 157, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .rightCont .title {
  border-left: 12px solid #e5ac2c;
  font-size: 18px;
  padding: 5px 0 0 5px;
  margin-top: 9px;
}
/* line 163, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .rightCont ul {
  width: 96%;
  margin: 0 auto;
}
/* line 166, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .rightCont ul li {
  border-bottom: 1px solid #8e412a;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 169, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .rightCont ul li a {
  width: 230px;
  padding: 18px 20px;
  color: #fff;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
}
/* line 176, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .rightCont ul li a:hover {
  color: #F5CF5E;
}
/* line 177, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .rightCont ul li a span {
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 3px;
  line-height: 1.6;
  font-size: 15px;
}
/* line 184, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText .rightCont ul li a span + span {
  font-size: 13px;
}
/* line 189, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .BoxCont .mText:after {
  content: "";
  display: table;
  clear: both;
}
/* line 196, ../scss/_layout.scss */
.wrapper .containerBox .container .contBox .cont .BOX .whitebg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  opacity: 0.98;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  z-index: 0;
}

/* line 1, ../scss/_hd.scss */
.headerBox {
  width: 100%;
  height: 74px;
  position: relative;
  top: 0;
}
/* line 6, ../scss/_hd.scss */
.headerBox .header {
  background-image: url("../img/bg.jpg");
  width: 100%;
  min-width: 960px;
  height: 74px;
  position: fixed;
  z-index: 11;
  top: 0;
}
/* line 14, ../scss/_hd.scss */
.headerBox .header h1 {
  display: inline-block;
  width: 330px;
  height: 74px;
  vertical-align: top;
}
/* line 19, ../scss/_hd.scss */
.headerBox .header h1 a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: 12px 5px;
}
/* line 28, ../scss/_hd.scss */
.headerBox .header .nav {
  display: inline-block;
  width: 480px;
  height: 74px;
  vertical-align: top;
  margin-left: 10px;
}
/* line 34, ../scss/_hd.scss */
.headerBox .header .nav a {
  display: inline-block;
  width: 95px;
  height: 100%;
  text-align: center;
  text-decoration: none;
  background-image: url("../img/nav.png");
}
/* line 41, ../scss/_hd.scss */
.headerBox .header .nav a.a1 {
  background-position: 0 0;
}
/* line 43, ../scss/_hd.scss */
.headerBox .header .nav a.a1:hover {
  background-position: 0 74px;
}
/* line 47, ../scss/_hd.scss */
.headerBox .header .nav a.a2 {
  background-position: -96px 0;
}
/* line 49, ../scss/_hd.scss */
.headerBox .header .nav a.a2:hover {
  background-position: -96px 74px;
}
/* line 53, ../scss/_hd.scss */
.headerBox .header .nav a.a3 {
  background-position: -191px 0;
}
/* line 55, ../scss/_hd.scss */
.headerBox .header .nav a.a3:hover {
  background-position: -192px 74px;
}
/* line 59, ../scss/_hd.scss */
.headerBox .header .nav a.a4 {
  background-position: -288px 0;
}
/* line 61, ../scss/_hd.scss */
.headerBox .header .nav a.a4:hover {
  background-position: -288px 74px;
}
/* line 65, ../scss/_hd.scss */
.headerBox .header .nav a.a5 {
  background-position: 95px 0;
}
/* line 67, ../scss/_hd.scss */
.headerBox .header .nav a.a5:hover {
  background-position: 95px 74px;
}
/* line 75, ../scss/_hd.scss */
.headerBox .header .icon {
  display: inline-block;
  width: 110px;
  height: 75px;
  vertical-align: top;
  padding-top: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 15px;
}
/* line 83, ../scss/_hd.scss */
.headerBox .header .icon a {
  display: inline-block;
  width: 19px;
  height: 20px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
  margin-right: 3px;
}
/* line 91, ../scss/_hd.scss */
.headerBox .header .icon .i1 {
  background-position: 0.5px 0;
}
/* line 92, ../scss/_hd.scss */
.headerBox .header .icon .i2 {
  background-position: -19px 0;
}
/* line 93, ../scss/_hd.scss */
.headerBox .header .icon .i3 {
  background-position: -38px 0;
}
/* line 94, ../scss/_hd.scss */
.headerBox .header .icon .i4 {
  background-position: -59px 0;
}

/* line 104, ../scss/_hd.scss */
.page_threeKingdoms .headerBox .header .nav .a1 {
  background-position: 0 74px;
}

/* line 108, ../scss/_hd.scss */
.page_ancient_city .headerBox .header .nav .a2 {
  background-position: -96px 74px;
}

/* line 112, ../scss/_hd.scss */
.page_culture_tourism .headerBox .header .nav .a3 {
  background-position: -192px 74px;
}

/* line 116, ../scss/_hd.scss */
.page_expert .headerBox .header .nav .a4 {
  background-position: -288px 74px;
}

/* line 1, ../scss/_ft.scss */
.footerBox {
  width: 100%;
  min-width: 960px;
  position: relative;
  top: 0;
  z-index: 10;
  background-image: url("../img/bg.jpg");
}
/* line 8, ../scss/_ft.scss */
.footerBox .footer {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 25px 0;
}
/* line 13, ../scss/_ft.scss */
.footerBox .footer span {
  display: inline-block;
  width: 150px;
  height: 35px;
  font-weight: bold;
  font-size: 16px;
  vertical-align: top;
  margin: 0 8px 15px 0;
}
/* line 21, ../scss/_ft.scss */
.footerBox .footer span a {
  color: #000;
  text-decoration: none;
}
/* line 24, ../scss/_ft.scss */
.footerBox .footer span a img {
  width: 100%;
  display: block;
}
/* line 26, ../scss/_ft.scss */
.footerBox .footer span img {
  width: 100%;
  display: block;
}
/* line 28, ../scss/_ft.scss */
.footerBox .footer span + span {
  width: 130px;
  margin: 0 8px 15px 8px;
}
/* line 32, ../scss/_ft.scss */
.footerBox .footer span + span + span {
  width: 100px;
  padding-top: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0;
}
/* line 38, ../scss/_ft.scss */
.footerBox .footer p {
  font-size: 12px;
  font-family: "新細明體";
}

/* line 2, ../scss/_three_kingdoms.scss */
.page_threeKingdoms .contBg {
  background-image: url("../img/bk1.jpg");
}
/* line 4, ../scss/_three_kingdoms.scss */
.page_threeKingdoms .contBox .cont .threeKingdomsBox .threeKingdomsboxCont .mTitle span {
  background-image: url("../img/titlebg.png");
  background-position: 0 0;
}

/* line 2, ../scss/_culture_tourism.scss */
.page_culture_tourism .contBg {
  background-image: url("../img/bk3.jpg");
}
/* line 4, ../scss/_culture_tourism.scss */
.page_culture_tourism .contBox .cont .culture_tourismBox .culture_tourismboxCont .mTitle span {
  background-image: url("../img/titlebg.png");
  background-position: -110px 0;
}

/* line 2, ../scss/_ancient_city.scss */
.page_ancient_city .contBg {
  background-image: url("../img/bk2.jpg");
}
/* line 4, ../scss/_ancient_city.scss */
.page_ancient_city .contBox .cont .ancient_cityBox .ancient_cityboxCont .mTitle span {
  background-image: url("../img/titlebg.png");
  background-position: -55px 0;
}

/* line 2, ../scss/_expert.scss */
.page_expert .contBg {
  background-image: url("../img/bk4.jpg");
}
/* line 10, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mTitle span {
  background-image: url("../img/titlebg.png");
  background-position: -165px 0;
}
/* line 16, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo {
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
/* line 22, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo > span {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}
/* line 27, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mPic {
  width: 234px;
}
/* line 29, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mPic img {
  display: block;
  margin-bottom: 1px;
}
/* line 33, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mPic .text {
  display: block;
  width: 100%;
  background-color: #b45235;
  padding: 5px 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  top: 0;
  color: #fff;
  font-size: 18px;
  line-height: 1.8;
}
/* line 44, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mPic .text a {
  display: block;
  width: 17px;
  height: 24px;
  position: absolute;
  bottom: 8px;
  right: 6px;
  background-image: url("../img/location.png");
  background-repeat: no-repeat;
}
/* line 56, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo {
  width: 545px;
  position: relative;
  top: 0;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 62, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo .mName {
  font-size: 25px;
  font-weight: bold;
  color: #b45235;
  line-height: 1.6;
}
/* line 67, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo .mName img {
  margin-bottom: -3px;
}
/* line 71, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo .bFont {
  font-size: 18px;
  font-weight: bold;
  color: #222222;
  margin: 13px 0 12px 0;
}
/* line 77, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo .text {
  font-size: 14px;
  color: #222222;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
/* line 84, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo .expertLink {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #ac750c;
  font-size: 16px;
  font-weight: bold;
}
/* line 91, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo .expertLink span {
  display: inline-block;
  width: 11px;
  height: 12px;
  background-image: url("../img/linkPoint.png");
  margin-right: 5px;
}
/* line 100, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo ul li {
  line-height: 2;
}
/* line 102, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo ul li a {
  color: #98741e;
  font-size: 14px;
  border-left: 5px solid #aa9c31;
  padding-left: 6px;
  text-decoration: none;
}
/* line 108, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo ul li a i {
  font-weight: bold;
}
/* line 111, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .expertInfo .mInfo ul li a span {
  border-bottom: 1px solid #98741e;
  padding-bottom: 1px;
}
/* line 120, ../scss/_expert.scss */
.page_expert .contBox .cont .expertBox .expertboxCont .mText .lastExpert {
  background-image: none;
  margin-bottom: 0;
}

/* line 3, ../scss/_index.scss */
.page_index .headerBox .indexhd {
  text-align: center;
}
/* line 5, ../scss/_index.scss */
.page_index .headerBox .indexhd > h1 {
  display: none;
}
/* line 6, ../scss/_index.scss */
.page_index .headerBox .indexhd .nav {
  width: 670px;
  margin-left: 0;
}
/* line 9, ../scss/_index.scss */
.page_index .headerBox .indexhd .nav a {
  margin-right: 30px;
}
/* line 12, ../scss/_index.scss */
.page_index .headerBox .header {
  position: relative;
  top: 0;
  background-image: none;
}
/* line 19, ../scss/_index.scss */
.page_index .wrapper .containerBox .container .contBox {
  width: 100%;
  padding: 0 0 15px 0;
}
/* line 22, ../scss/_index.scss */
.page_index .wrapper .containerBox .container .contBox .cont {
  width: 100%;
  position: relative;
  top: 0;
}
/* line 26, ../scss/_index.scss */
.page_index .wrapper .containerBox .container .contBox .cont .autopic {
  width: 100%;
}
/* line 28, ../scss/_index.scss */
.page_index .wrapper .containerBox .container .contBox .cont .autopic .autopic_content {
  position: relative;
  top: 0;
}
/* line 31, ../scss/_index.scss */
.page_index .wrapper .containerBox .container .contBox .cont .autopic .autopic_content .autopic_content_img {
  height: 607px;
  overflow: hidden;
}
/* line 34, ../scss/_index.scss */
.page_index .wrapper .containerBox .container .contBox .cont .autopic .autopic_content .autopic_content_img div {
  height: 607px;
  width: 100%;
  background-position: center 0px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 42, ../scss/_index.scss */
.page_index .wrapper .containerBox .container .contBox .cont .autopic .autopic_content .autopic_content_img .picOn {
  z-index: 10;
}
/* line 46, ../scss/_index.scss */
.page_index .wrapper .containerBox .container .contBox .cont .autopic .autopic_content .autopic_content_opacity {
  position: absolute;
  top: 115px;
  left: 50%;
  margin-left: -182px;
  z-index: 20;
}
/* line 52, ../scss/_index.scss */
.page_index .wrapper .containerBox .container .contBox .cont .autopic .autopic_content .autopic_content_opacity a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 63, ../scss/_index.scss */
.page_index .footerBox {
  background-image: none;
}
