<div class="headerBox_act2">
    <div class="header">
        <div class="hdbg">
            <a class="logo" href="index.html"></a>
            <a class="fbicon" href=""></a>
            <a class="homeicon" href="index.html"></a>
            <ul class="nav" align="center">
                <li><a href="activity.html" class="a1">活動辦法</a></li>
                <li><a href="2_list.html" class="a2">我要投票</a></li>
                <li><a href="win.html" class="a4">得獎公告</a></li>
                <li><a href="expert01.html" class="a5">達人新觀點</a></li>
            </ul>
            <a class="cycBtn" href="list.html">
                <p>作品集錦</p>
            </a>
        </div>
    </div>
</div>