<div class="footerBox">
    <div class="footer">
        <span>主辦單位：<a href=""><img src="img/ftlogo01.png" alt=""/></a></span>
        <span>執行單位：<a href=""><img src="img/ftlogo02.png" alt=""/></a></span>
        <span>贊助單位：
            <a href="">
                <img class="img3" src="img/ftlogo03.png" alt=""/>
                <i>GoHiking<br>力寶龍企業股份有限公司</i>
            </a>
            <a href="">
                <img class="img4" src="img/ftlogo04.png" alt=""/>
                <i>amba台北西門町意舍</i>
            </a>
            <a href="">
                <img class="img5" src="img/ftlogo05.png" alt=""/>
                <i></i>
            </a>
            <a href="">
                <img class="img6" src="img/ftlogo06.png" alt=""/>
                <i></i>
            </a>
        </span>
    </div>
</div>