<div class="headerBox">
    <div class="header">
        <div class="hdbg">
            <a class="logo" href="index.html"></a>
            <a class="fbicon" href=""></a>
            <a class="homeicon" href="index.html"></a>
            <ul class="nav">
                <li><a href="activity.html" class="a1">活動辦法</a></li>
                <li><a href="write.html" class="a2">我要投稿</a></li>
                <li><a href="list.html" class="a3">作品集錦</a></li>
                <li><a href="win.html" class="a4">得獎公告</a></li>
                <li><a href="expert01.html" class="a5">達人新觀點</a></li>
            </ul>
            <a class="voteBtn" href="2_list.html">
                <p>我要投票</p>
                <span>3/25~4/6</span>
            </a>
        </div>
    </div>
</div>