<div class="footerBox">
    <div class="footer Top">
        <div class="mText">
            <p>輔導單位<span>高雄市政府農業局</span></p>
            <p>主辦單位<span>社團法人高雄市微風市集志業協會、THOMAS CHIEN 、The F勇氣廚房、Gien Jia挑食 、Le Bon Marche好市集、迪立健康蔬食坊</span></p>
            <p>協助單位<span>高雄市立三民高級家事商業職業學校</span></p>
        </div>
        <div class="ftLogo">
            <a href="http://agri.kcg.gov.tw/" target="_blank"><img src="img/ft_logo1.png" alt=""/></a>
            <a href="https://www.facebook.com/KSSG12?fref=ts" target="_blank"><img src="img/ft_logo2.png" alt=""/></a>
            <a href="http://blog.breezemarket.com.tw/" target="_blank"><img src="img/ft_logo3.png" alt=""/></a>
            <a href="#" target="_blank"><img src="img/ft_logo4.png" alt=""/></a>
            <a href="#" target="_blank"><img src="img/ft_logo5.png" alt=""/></a>
            <a href="#" target="_blank"><img src="img/ft_logo6.png" alt=""/></a>
            <a href="#" target="_blank"><img src="img/ft_logo7.png" alt=""/></a>
            <a href="#" target="_blank"><img src="img/ft_logo8.png" alt=""/></a>
            <!--<a href="#" target="_blank"><img src="img/ft_logo9.png" alt=""/></a>-->
        </div>
    </div>
    <div class="footer Bot">
        <span><p>執行單位<span>傑森整合行銷股份有限公司　高雄分公司</span></p></span>
        <p>高雄市政府農業局版權所有<i>電話</i>：(07)-7995678<i>傳真</i>：(07)-7468414<i>地址</i>：83001 高雄市鳳山區光復路二段132號</p>
    </div>
</div>