.page_wedding{
  .containerBox{
    .Cont{
      position: relative;
      top: 0;
      height: 1900px;
      background-color: #fff;
      .weddingCont{
        width: 960px;
        height: 1900px;
        position: absolute;
        top:0;
        left:50%;
        margin: -12px 0 0 -480px;
        .kim{
          width: 930px;
          margin: 0 auto;
          background-repeat: no-repeat;
          background-position: 50% 0;
        }
        .k01{
          height: 1100px;
          background-image: url("../img/expert/in-Natalie_01.png");
          position: relative;
          top: 0;
          .blogLink{
            display: block;
            width: 242px;
            height: 46px;
            position: absolute;
            top: 312px;
            right: 15px;
            text-decoration: none;
            font-size: 17px;
            font-weight: bold;
            font-family: "微軟正黑體";
            color:#010101;
            padding-top: 3px;
            @include box-sizing(border-box);
            &:hover{  background-color: #ffde00;  }
            p{ text-align: center; line-height: 1.2}
          }
        }
        .k02{
          height: 284px;
          background-image: url("../img/expert/in-Natalie_02.png");
        }
        .k03{
          height: 516px;
          background-image: url("../img/expert/in-Natalie_03.png");
          position: relative;
          top:0;
          a{
            display: block;
            width: 186px;
            height: 51px;
            position: absolute;
            &.a3{
              top: 340px;
              right: 13px;
              background-image: url("../img/expert/in-btn3.png");
            }
            &.a1{
              right: 13px;
              top: 400px;
              background-image: url("../img/expert/in-btn1.png");
            }
            &.a2{
              right:13px;
              top:460px;
              background-image: url("../img/expert/in-btn2.png");
            }
            &.a4{
              top: 460px;
              right: 222px;
              background-image: url("../img/expert/in-btn4.png");
            }
            &:hover{
              margin-top: 1px;
            }
          }
        }
      }

    }
  }
}
