<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/layout.css">
    <!--[if (lt IE 9) & (!IEMobile)]>
        <script src="js/html5shiv.min.js" type="text/javascript"></script>
    <!<![endif]-->
</head>

<body>
    <div id="wrap">
        <main>
            <div class="main_content">
                <div id="moveItem" class="itemBg1"></div>
                <div class="mainBg">
                    <img class="lineBg" src="images/road.png" alt="">
                    <div class="block1">
                        <div class="tv"></div>
                        <img class="logoCat" src="images/homepage_pattern.png" alt="">
                        <img class="tvCat" src="images/tvc_meow.png" alt="">
                    </div>
                    <div class="block2">
                        <div class="listCont">
                            <a href="https://karenhuang.github.io/karenwebsite/index.html" target="_blank">作品網址</a>
                        </div>
                        <img class="listCat" src="images/bigcat02.png" alt="">
                   </div>
                    <div class="block3">
                        <div class="info">
                            
                        </div>
                        <img src="images/rule_meow.png" alt="" class="infoCat">
                    </div>                   
                   <div class="star1"></div>
                   <div class="star2"></div>
                   <div class="star3"></div>
                   <div class="star4"></div>
                   <div class="star5"></div>
                </div>

            </div>
        </main>
        <div class="bg_spot"></div>
        <div class="bg_yellow"></div>
        <div class="bg_red"></div>
        <div class="bg_blue"></div>
    </div>
</body>
</html>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.mousewheel.min.js"></script>
<script src="js/resume.js"></script>
