@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?46qcol');
  src:  url('fonts/icomoon.eot?46qcol#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?46qcol') format('truetype'),
    url('fonts/icomoon.woff?46qcol') format('woff'),
    url('fonts/icomoon.svg?46qcol#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoe:before {
  content: "\e928";
}
.icon-airpay:before {
  content: "\e924";
}
.icon-pay2:before {
  content: "\e925";
}
.icon-paypal:before {
  content: "\e926";
}
.icon-wec:before {
  content: "\e927";
}
.icon-upside:before {
  content: "\e920";
}
.icon-rightside:before {
  content: "\e921";
}
.icon-downside:before {
  content: "\e922";
}
.icon-in:before {
  content: "\e923";
}
.icon-P_gift:before {
  content: "\e91d";
}
.icon-P_video:before {
  content: "\e91e";
}
.icon-P_photo:before {
  content: "\e91f";
}
.icon-eye:before {
  content: "\e91c";
}
.icon-share-line:before {
  content: "\e919";
}
.icon-share-link:before {
  content: "\e91a";
}
.icon-share-pin:before {
  content: "\e91b";
}
.icon-link:before {
  content: "\e918";
}
.icon-top:before {
  content: "\e917";
}
.icon-camera:before {
  content: "\e916";
}
.icon-info:before {
  content: "\e915";
}
.icon-home:before {
  content: "\e914";
}
.icon-tag:before {
  content: "\e912";
}
.icon-me:before {
  content: "\e913";
}
.icon-meipai2:before {
  content: "\e911";
}
.icon-share-youku:before {
  content: "\e90f";
}
.icon-share-youtube:before {
  content: "\e910";
}
.icon-meipai .path1:before {
  content: "\e902";
  color: rgb(0, 0, 0);
}
.icon-meipai .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-nav-language:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
.icon-nav-album:before {
  content: "\e903";
}
.icon-nav-cup:before {
  content: "\e904";
}
.icon-nav-download:before {
  content: "\e905";
}
.icon-nav-loup:before {
  content: "\e906";
}
.icon-nav-video:before {
  content: "\e907";
}
.icon-share-fb:before {
  content: "\e908";
}
.icon-share-ig:before {
  content: "\e909";
}
.icon-share-vimeo:before {
  content: "\e90a";
}
.icon-share-twitter:before {
  content: "\e90b";
}
.icon-share-weibo:before {
  content: "\e90c";
}
.icon-share-youtu:before {
  content: "\e90d";
}

