<div class="headerBox">
    <div class="top_header" align="center">
        <div class="tophd">
            <ul>
                <li><a href="http://www.gotohz.com.tw/feature/subway/station_7.aspx" target="_blank">沿著地鐵遊杭州</a></li>
                <li><a href="http://www.gotohz.com.tw/feature/westlake30/default.aspx" target="_blank">玩轉西湖</a></li>
                <li><a href="http://www.gotohz.com.tw/feature/2014expert/" target="_blank">在杭慢旅行</a></li>
                <li><a href="http://www.gotohz.com.tw/" target="_blank">杭州旅遊網 <i></i> 閱讀杭州</a></li>
            </ul>
            <span class="iconBox">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </span>
        </div>
    </div>
    <div class="bottom_header">
        <div class="a_bothd">
            <div class="commonBtn b02"><a href="index02.html"></a></div>
            <div class="commonBtn b03"><a href="index03.html"></a></div>
        </div>
        <div class="b_bothd" align="center">
            <p class="text"></p>
            <a href="" target="_blank"></a>
            <a href="" target="_blank"></a>
            <a href="" target="_blank"></a>
            <a href="" target="_blank"></a>
        </div>
    </div>
</div>