<div class="headerBox">
    <div class="header">
        <div class="hdTop">
            <div class="menu" align="center">
                <a href="shopping.html" class="a1"><span></span></a>
                <a href="kpop.html" class="a2"><span></span></a>
                <a href="wedding.html" class="a3"><span></span></a>
                <a href="http://www.liontravel.com/comm/2topic/korea/kr_tour.asp?Sprima=def00L1D04#fit" target="_blank" class="a4"><span></span></a>
                <a href="" class="a5"><span></span></a>
            </div>
        </div>
        <div class="hdBottom">
            <div class="hdbotCont">
                <!--logo 的a請勿刪除,首頁的a已經用CSS去掉了'-->
                <div class="logo"><a href="index.html"></a></div>
                <div class="letGo">
                    <a href="airtickets.html"></a>
                </div>
                <div class="icon">
                    <a href="" target="_blank" class="i1"></a>
                    <a href="" target="_blank" class="i2"></a>
                    <a href="" target="_blank" class="i3"></a>
                    <a href="" target="_blank" class="i4"></a>
                </div>
                <div class="seoullogo">
                    <a href="http://www.visitseoul.net/cb/index.do" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>
</div>