<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title></title>
    <link rel="stylesheet" href="css/layout2015.css">
    <!--[if (lt IE 9) & (!IEMobile)]>
        <script src="js/html5shiv.min.js" type="text/javascript"></script>
    <!--<![endif]-->
</head>
<body>
    <div id="wrapper">
        <main>
            <div class="main_content">
                <div id="silderT2">
                    <div class="md_slideShow">
                        <ul class="pt_bannerList">
                            <li><a href="#" target="_blank"><img src="images/1.jpg"></a></li>
                            <li><a href="#" target="_blank"><img src="images/2.jpg"></a></li>
                            <li><a href="#"><img src="images/3.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/4.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/1.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/2.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/3.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/4.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/1.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/2.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/3.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/4.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/1.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/2.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/3.jpg"></a></li>
                            <li><a href="javascript:;"><img src="images/4.jpg"></a></li>
                        </ul>
                        <div class="btnCont">
                            <div class="btnhidden">
                                <ul class="pt_btnList">
                                    <li><a href="javascript:;"><img src="images/1.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/2.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/3.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/4.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/1.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/2.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/3.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/4.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/1.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/2.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/3.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/4.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/1.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/2.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/3.jpg"></a></li>
                                    <li><a href="javascript:;"><img src="images/4.jpg"></a></li>
                                </ul>
                            </div>
                            <a href="javascript:;" class="prevPage"></a>
                            <a href="javascript:;" class="nextPage"></a>
                        </div>
                        <a class="pt_prev" href="javascript:;">Prev</a>
                        <a class="pt_next" href="javascript:;">Next</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/mouseDrag.js"></script>
